*/byte
*/native
*.install
*.cmi
*.cmo
*.cmt
*.cmx
*.o
*.d
_build/
*.db
*.a
*.cmxa
*.cmti
**.DS_Store
**.merlin
out.txt
out.fut
rad-icfp-2021/main.fdb_latexmk
rad-icfp-2021/main.fls
rad-icfp-2021/main.synctex.gz
rad-icfp-2021/main.synctex(busy)
*.aux
*.bbl
*.blg
*.dvi
*.log
*.pdf
*.ps
*.xcp
*.cut
*.out
*.fls
*.fdb_latexmk
*.blg
*.gz
*.bcf
*.xml
*.xdv